/*
Theme Name:     Crazystore
Theme URI:      https://sparklewpthemes.com/wordpress-themes/crazystore/
Author:         sparklewpthemes
Author URI:     https://sparklewpthemes.com/
Description:    Crazystore is an ideal eCommerce free SparkleStore child WordPress theme. It's a simple, clean, elegant, user-friendly, impressive, engaging, and dynamic theme. Also, it is a fully customizable, and responsive WordPress theme as well. Crazystore also allows you to create a very high-quality and perfect online store website effortlessly and easily in a short time. Crazystore free SparkleStore child theme has several advanced features and layouts settings too. It provides some custom settings like 8+ Custom Elementor Block, 9+ Custom Widget, header layouts, 1 click demo import, call to action, the list product different way, dynamic color options, and many more. It is also compatible with different page builder plugins. All the smart, useful, and time-saving features help in carving a clan and latest website which easily in really lesser time. Besides, Crazystore child theme is fully responsive, cross-browser compatible, translation ready, SEO friendly theme. The theme is even compatible with some other external plugins like WooCommerce, WCFM Marketplace, Menu Icons, YITH WooCommerce Wishlist, elementor, SiteOrigin Page Builder, Jetpack, Contact Form 7, and many other plugins as well. 
Version:        1.0.6
Tested up to:   5.9
Requires PHP:   7.0
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Template:       sparklestore
Text Domain:    crazystore
Tags:           one-column, two-columns, right-sidebar, left-sidebar, custom-header, custom-background, custom-menu, translation-ready, featured-images, theme-options, custom-logo, e-commerce, footer-widgets

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

SparkleStore Lite is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Sparklewpthemes is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/**
 * Header
*/
.top-header-inner .social ul li a {
    font-size: 18px;
    width: 25px;
    border: 0;
    color: #003772;
    background-color: transparent !important;
}

.site-branding {
    font-family: 'Roboto', sans-serif;
}

.crazystore-header .rightheaderwrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.33%;
}

.crazystore-header .sparklelogo {
    display: inline-block;
    width: 33.33%;
    text-align: center
}

.crazystore-header>.rightheaderwrapend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.33%;
}

.rightheaderwrap .fa-headset {
    font-size: 50px;
    margin-right: 15px;
}
.rightheaderwrap .phoneinfo{
    font-weight: 500;
    font-size: 20px;
}
.rightheaderwrap .workingtime{
    font-size: 15px;
}

.block-nav-category {
    margin-right: 13px;
}
.slider-inner-wrap.verticalmenu {
    width: calc(100% - 23%);
    float: right;
    position: relative;
    margin: 15px 0 25px;
}
.slider-inner-wrap.off.verticalmenu {
    width: 100%;
}

.verticalmenu .banner-height {
    height: 550px;
}
.verticalmenu .sparklestore-slider .slides li {
    height: 550px;
}
.verticalmenu .sparklestore-caption {
    max-width: 75%;
    margin: 0 auto;
}

/* header search */
.search-wrapper{
    line-height: 31px;
    padding: 18px;
    background-color: #f33d3c;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 0;
}
.header-nav .container{
    position: relative;
}
.searchform-wrapper {
    position: absolute;
    z-index: 9999;
    right: 0;
    display: none;
}

.box-header-nav.main-menu-wapper {
    flex: 2;
}
.block-nav-category .block-title{
    width: 100%;
}

.container{
    clear: both;
}

/* Breadcrumbs */
.breadcrumbs-wrap {
    padding: 25px 15px;
    position: relative;
    text-align: left;
}
.breadcrumbs-wrap {
    margin: 15px 0 0;
}

.woocommerce a.added_to_cart, 
.woocommerce a.product_type_simple, 
.woocommerce a.button.add_to_cart_button, 
.woocommerce a.button.product_type_grouped, 
.woocommerce a.button.product_type_external, 
.woocommerce a.button.product_type_variable {
    padding: 0px 20px;
    padding-left: 60px;
    font-size: 14px;
}

.comments-area a:not(.url){
    text-decoration: underline;
}
a.comment-edit-link {
    margin-left: 20px;
}
.widget a {
    text-decoration: underline;
}

.home .widget a{
    text-decoration: none;
}
.view-all-category{
    display: flex;
}
.block-nav-category .view-all-category a.cclose-cate::after {
    content: "\eee1";
}
.block-nav-category .view-all-category a{
    width: 50%;
}
.block-nav-category .view-all-category a:first-child{
    border-right: 1px solid white;
}
.block-nav-category .view-all-category a:last-child{
    background-color: #f33c3c;
}
li.product-category.product a {
    text-decoration: none;
}
@media (max-width: 1024px){
    .mainheader.mobile-only {
        display: block;
    }
    .slider-inner-wrap.verticalmenu{
        width: 100%;
    }
}